/* :root {
    --mysize: 3rem;
} */

html, body {
    padding: var(mysize);
    /* margin: 0px; */
}

h1 {
    font-size: 2rem;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    display: flex;
    justify-content: center;
}

.app {
    display: flex;
    flex-direction: row;
    width: 100%;
    /* box-sizing: border-box; */
    padding: 0px;
    margin: 0px;    
    gap: 3%;
}

.cardCanvas {
    display: flex;
    flex-direction: column;
    width: 25%;
    border: solid 1px rgba(0, 0, 0, 0.5);
    border-radius: 0.7svh;
    box-shadow: 0 0.5svh 1svh rgba(0, 0, 0, 0.2);
    background-color: #ffffff;
    box-sizing: border-box;
    padding: 0.5%;}
    
.selectorRow {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2%;
    width: 100%;
    box-sizing: border-box;
}

.card#small {
    width: 25%;
    aspect-ratio: 1 / 1;
    border: solid 1px rgba(0, 0, 0, 0.5);
    border-radius: 0.5svh;
    box-sizing: border-box;
}

/* .card#smallOne {
    width: 100%;
    aspect-ratio: 1 / 1;
    border: solid 1px rgba(0, 0, 0, 0.5);
    border-radius: 0.5svh;
    box-sizing: border-box;
} */

img {
    display: flex;
    width: 25%;
    height: 100%;
    object-fit: cover;
    border-radius: 0.5svh;
    box-sizing: border-box;
    align-items: center;
}

.card#small :active {
    add border
}

.display {
    height: 100%;
    width: 100%;
    box-sizing: border-box;
}

/* .title#beat {
    display: flex;
    justify-content: center;
    font-size: 1rem;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    padding-top: 5px;
} */

.card#large {
    width: 100%;
    aspect-ratio: 1 / 1;
    border: 1px solid black;
    border-radius: 0.5svh;
    box-sizing: border-box;
}